{% extends "base.html" %}

{% block content %}
<div class="container form-base">
	<h1 align="center">{{ form.description}}</h1>
	{% for answer  in answers %}
		<p><strong>{{ forloop.counter }})</strong>
			<div class="card answer-card">
			  <div class="card-header answer-header">{{ answer.question.text|safe }}</div>
			  <div class="card-body">{{ answer.text|safe }}</div> 
			</div>
	{% endfor %}
	<a href="{% url "main:update" %}" class="btn btn-primary fixed-btn">Update</a>
</div>
{% endblock content %}